 <!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
</footer>
</div>
<!-- Content wrapper -->
</div>
<!--begin::Global Config(global config for global JS scripts)-->
<script src="./assets/vendor/libs/jquery/jquery.js"></script>
<script src="./assets/vendor/libs/popper/popper.js"></script>
<script src="./assets/vendor/js/bootstrap.js"></script>
<script src="./assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="./assets/vendor/js/menu.js"></script>
<script src="./assets/vendor/libs/plyr/plyr.js"></script>
<script src="./assets/vendor/libs/flatpickr/flatpickr.js"></script>
<script src="./assets/vendor/libs/jquery-timepicker/jquery-timepicker.js"></script>
<script src="./assets/js/main.js"></script>
<script src="./assets/js/ui-popover.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!--end::Global Config-->

<!--add active class to menu js -->
<script type="text/javascript">
    jQuery(document).ready(function () {
        var url = window.location;
        jQuery('ul.menu-inner a[href="' + url + '"]').parent().addClass('active');
        jQuery('ul.menu-inner a').filter(function() {
            return this.href == url;
        }).parent().addClass('active');
          jQuery('li.active').parent().addClass("test");
        jQuery('ul.test').parent().addClass("active open");
    });
</script>
 
<!-- Questions Types Toggle js -->
<script type="text/javascript">
    jQuery(document).ready(function(){

        jQuery(".imgs-wrap, .img_upload, .audio-wrap").hide();

        // Initial state
        if(jQuery('input[name="question_type"]:checked').val() === 'text_only') {
                jQuery(".text-wrap").show();
                jQuery(".imgs-wrap, .img_upload").hide();
            }
            else if(jQuery('input[name="question_type"]:checked').val() === 'true_false') {
                jQuery(".text-wrap").hide();
                jQuery(".imgs-wrap, .img_upload").hide();
            }
            else if(jQuery('input[name="question_type"]:checked').val() === 'images') {
                jQuery(".imgs-wrap,.img_upload").show();
                jQuery(".text-wrap ").hide();
            }
            else if(jQuery('input[name="question_type"]:checked').val() === 'audio') {
                jQuery(".audio-wrap").show();
                jQuery(".imgs-wrap, .img_upload, .text-wrap").hide();
            }
            else {
                //jQuery(".text-wrap").hide();
                //jQuery(".imgs-wrap, .img_upload, .audio-wrap").hide();
            }

        jQuery('input[name="question_type"]').on('change',function(){
            if(jQuery(this).val() === 'text_only') {
                jQuery(".text-wrap").show();
                jQuery(".imgs-wrap, .img_upload").hide();
            }
            else if(jQuery(this).val() === 'true_false') {
                jQuery(".text-wrap").hide();
                jQuery(".imgs-wrap, .img_upload").hide();
            }
            else if(jQuery(this).val() === 'images') {
                jQuery(".imgs-wrap,.img_upload").show();
                jQuery(".text-wrap, .audio-wrap").hide();
            }
            else if(jQuery(this).val() === 'audio') {
                jQuery(".audio-wrap").show();
                jQuery(".imgs-wrap, .img_upload, .text-wrap").hide();
            }
            else {
                //jQuery(".text-wrap").hide();
                jQuery(".imgs-wrap, .img_upload, .audio-wrap").hide();
            }
        });

        // show min per quiz
        jQuery('.min_per_quiz').hide();
        jQuery('input[name=timer_status]').on('click',function(){
            jQuery(this).toggleClass("active");
            if(jQuery(this).hasClass("active")){
                jQuery('.min_per_quiz').show();
            }
            else{
                jQuery('.min_per_quiz').hide();
            }
        });
        if(jQuery('input[name=timer_status]').is(':checked')){
            jQuery('.min_per_quiz').show();
        }
        else{
            jQuery('.min_per_quiz').hide();
        }

        // show min per question
        var flatpickrTime = document.querySelector("#flatpickr-time");

        if (flatpickrTime) {
            flatpickrTime.flatpickr({
                enableTime: true,
                noCalendar: true
            });
        }

    });

</script>

<!--Quill Editor Js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/quill/2.0.1/quill.js"></script>
<script type="text/javascript">
	// Get the hidden input field
	function myFunction() {
		var editor = document.getElementsByClassName('ql-editor')[0];
		if (editor) {
			var about = document.querySelector('input[name=description]');
			if (about) {
				about.value = editor.innerHTML;
			}
		}
	};

	// Quill editor Toolbar options
	const toolbarOptions = [
		['bold', 'italic', 'underline'], // toggled buttons
		['blockquote', 'code-block'], // blocks
		['image'],//Image
		[{ 'list': 'ordered' }, { 'list': 'bullet' }, { 'list': 'check' }], // lists
		[{ 'header': [1, 2, 3, 4, 5, 6, false] }], // headings
		[{ 'font': [] }], // font family
		[{ 'align': [] }],  // text align
	];

	// Quill editor
	const descriptionElement = document.querySelector('#description');
	let quill;
	
	if (descriptionElement) {
		quill = new Quill(descriptionElement, {
			modules: {
				toolbar: toolbarOptions
			},
			placeholder: 'Compose an epic...',
			theme: 'snow', // or 'bubble'
		});

		// Paste plaintext into the editor
		quill.clipboard.addMatcher(Node.ELEMENT_NODE, function (node, delta) {
			var plaintext = node.innerText
			var Delta = Quill.import('delta')
			return new Delta().insert(plaintext)
		});

		// Get the hidden input field
		var form = document.querySelector("form");
		var hiddenInput = document.querySelector('#hiddenInput');

		// On form submission, fill the hidden input with the editor's content
		if (form && hiddenInput) {
			form.addEventListener('submit', function (e) {
				hiddenInput.value = quill.root.innerHTML;
			});
		}
	}
</script>

<!-- DataTables Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="./assets/vendor/css/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#list-table,#users-table,#booking-table').DataTable({
            lengthMenu: [
                [10, 20, 40, -1],
                [10, 20, 40, 'All'],
            ],
            info: false,
            language: {
                paginate: {
                    next: '&#8594;', // or '→'
                    previous: '&#8592;' // or '←' 
                }
            }
        });
    });
</script>

<!-- Filter Table Js -->
<!-- <script type="text/javascript">
    jQuery(document).ready(function () {

        // Filter table based on selected quiz and question type
        jQuery('#QuizName, #QuestionType').change(function () {
            var selectedQuiz = jQuery('#QuizName').find("option:selected").text().trim();
            console.log("selectedQuiz", selectedQuiz);
            var selectedQuestions = jQuery('#QuestionType').find("option:selected").val();
            console.log("selectedQuestions", selectedQuestions);
            filterTable(selectedQuiz, selectedQuestions);
        });

        // Function to filter the table based on selected status and categories
        function filterTable(selectedQuiz, selectedQuestions) {
            jQuery('#questionslist-table tbody tr').each(function() {
                var quiz = jQuery(this).find('td:nth-child(5)').text().trim();
                console.log("quiz",quiz);
                var questions = jQuery(this).find('td:nth-child(4)').text().trim();
                console.log("questions",questions);

                var quizMatch = (selectedQuiz === 'All' || quiz === selectedQuiz);
                console.log("quizMatch",quizMatch);
                var questionsMatch = (selectedQuestions === 'all' || questions === selectedQuestions);
                console.log("questionsMatch",questionsMatch);

                if (quizMatch && questionsMatch) {
                    jQuery(this).show();
                } else {
                    jQuery(this).hide();
                }
            });
        }

        // Show all rows initially
        jQuery('#questionslist-table tbody tr').show();
    });
</script> -->

<script type="text/javascript">
    jQuery(document).ready(function () {
        // Initialize the DataTable
        var table = jQuery('#questionslist-table').DataTable({
            lengthMenu: [
                [5, 10, 20, 40, -1],
                [5, 10, 20, 40, 'All'],
            ],
            info: false,
            language: {
                paginate: {
                    next: '&#8594;', // or '→'
                    previous: '&#8592;' // or '←' 
                }
            }
        });
        // Custom filtering function which will search data in the table
        jQuery.fn.dataTable.ext.search.push(
            function(settings, data, dataIndex) {
                var selectedQuiz = jQuery('#QuizName').find("option:selected").text().trim().toLowerCase();
                var selectedQuestions = jQuery('#QuestionType').find("option:selected").val().toLowerCase();
                
                var quiz = data[4].trim().toLowerCase(); // Use the correct column index for quiz
                var questions = data[3].trim().toLowerCase(); // Use the correct column index for question type

                var quizMatch = (selectedQuiz === 'all' || quiz === selectedQuiz);
                var questionsMatch = (selectedQuestions === 'all' || questions === selectedQuestions);

                return quizMatch && questionsMatch;
            }
        );
        // Trigger filter when dropdowns change
        jQuery('#QuizName, #QuestionType').change(function () {
            table.draw();
        });
    });
</script>
<!-- Quill JS -->
<script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Define all elements for Quill editor
        const elements = ['#terms_and_conditions', '#privacy_policy', '#about_us'];

        // Loop through all elements
        elements.forEach(element => {
            // Get Quill element
            let quillElement = document.querySelector(element);

            // Break if element not found
            if (!quillElement) {
                return;
            }

            const quill = new Quill(quillElement, {
                modules: {
                    toolbar: [
                        ['bold', 'italic', 'underline'], // toggled buttons
                        ['blockquote', 'code-block'], // blocks
                        ['link', 'image'], // Link, Image
                        [{ 'list': 'ordered' }, { 'list': 'bullet' }], // lists
                        [{ 'header': [1, 2, 3, 4, 5, 6, false] }], // headings
                        [{ 'font': [] }], // font family
                        [{ 'align': [] }] // text align
                    ]
                },
                placeholder: 'Type your text here...',
                theme: 'snow' // or 'bubble'
            });

            // Paste plaintext into the editor
            quill.clipboard.addMatcher(Node.ELEMENT_NODE, function (node, delta) {
                var plaintext = node.innerText;
                var Delta = Quill.import('delta');
                return new Delta().insert(plaintext);
            });

            // Get the hidden input field for this editor
            const hiddenInput = document.querySelector(`input[name=${element.replace('#', '')}]`);

            // On form submission, fill the hidden input with the editor's content
            const form = document.querySelector("form");
            if (form && hiddenInput) {
                form.addEventListener('submit', function (e) {
                    hiddenInput.value = quill.root.innerHTML;
                });
            }
        });
    });

    // Custom function to submit all Quill editor data
    function submitAllQuillData() {
        // Loop through all Quill editors
        const quillEditors = document.querySelectorAll('.ql-editor');
        if (quillEditors.length === 0) return;
        
        quillEditors.forEach(editor => {
            // Get the content of the Quill editor
            var editorContent = editor.innerHTML;

            // Find the corresponding hidden input field
            var container = editor.closest('.mb-15');
            if (!container) return;
            
            var hiddenInput = container.querySelector('input[type="hidden"]');
            if (!hiddenInput) return;

            // Assign the content of the Quill editor to the hidden input field
            hiddenInput.value = editorContent;
        });

        // Submit the form
        const form = document.querySelector("form");
        if (form) {
            form.submit();
        }
    }
</script>
</body>
</html>